* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(250, 239, 80);
}

.container {
  display: flex;

  align-items: center;
  justify-content: center;
}

.content {
  position: relative; /* Kendi stacking context'ini oluşturur */
  width: 230px;
  height: 300px;
  text-align: center;
  display: flex;
  margin: 10px;
}

.boxes {
  margin-left: 10px;
}

.box-up {
  position: absolute;

  z-index: 2; /* Diğer kutudan daha yüksek bir z-index */

  object-fit: cover;

  transition: all 300ms;
  cursor: pointer;
}
.box-down {
  position: absolute;
  /* .box-up'ın altında konumlandırıyoruz */

  z-index: 1; /* Daha düşük bir z-index */

  background-color: rgba(48, 197, 48, 0.623);

  min-height: 230px;
}

img {
  max-width: 220px;
  min-height: 230px;
}

p {
  color: rgb(250, 246, 246);
  font-weight: 500;

  flex: 1;
  padding: 30px 20px 20px 20px;
}

.up {
  opacity: 0.6;
  transform-origin: center;
  transform: translateY(-100%);
}

.down {
  opacity: 0.6;
  transform-origin: center;
  transform: translateY(100%);
}

.right {
  opacity: 0.6;
  transform-origin: center;
  transform: translateX(100%);
}

.left {
  opacity: 0.6;
  transform-origin: center;
  transform: translateX(-100%);
}

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p {
    color: rgb(250, 246, 246);
    font-weight: 500;

    font-size: small;
  }

  
  
  .content.active {
    margin-top: 250px; /* Yüksekliği artırarak diğer elemanları ittir */
  }

  .up {
    opacity: 0.6;
    
    
  }
}


